.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.center-wrap {
  justify-content: center;
  padding: 15px 0;
}

.board {
  background: #4e4343;
  border-radius: 4px;
  margin: 0 auto;
  padding: 5px;
  position: relative;
  width: 400px;
}

.board .row {
  margin: 0;
}

.game-cell {
  height: 0;
  line-height: 80px;
  padding: 5px;
  padding-bottom: 25%;
  position: relative;
  width: 25%;
}
.game-cell::after {
  background: #cec1b5;
  border-radius: 4px;
  content: "";
  display: block;
  height: auto;
  left: 5px;
  top: 5px;
  bottom: 5px;
  right: 5px;
  position: absolute;
  width: auto;
}

.overlay {
  height: auto;
  left: 5px;
  top: 5px;
  right: 5px; 
  bottom: 5px;
  position: absolute;
  padding: 0;
  width: auto;
}


.overlay .game-cell {
  position: absolute;
  transition: all .1s linear;
  transform: scale(1);
}

.overlay .game-cell.new {
  animation: show .1s;
}

.overlay .game-cell::after {
  background: #3c3a32;
  content: attr(value);
  color: #f9f6f2;
}


.x1 {
  left: 0;
}

.x2 {
  left: 25%;
}
.x3 {
  left: 50%;
}
.x4 {
  left: 75%;
}

.y1 {
  top: 0;
}

.y2 {
  top: 25%;
}

.y3 {
  top: 50%;
}

.y4 {
  top: 75%;
}


.game-cell.d1,
.game-cell.d2,
.game-cell.d3 {
  font-size: 40px;
}

.game-cell.d4 {
  font-size: 32px;
}

.game-cell.d5 {
  font-size: 28px;
}

.game-cell[value="2"]::after {
  background: #eee4da;
  color: #776e65
}

.game-cell[value="4"]::after {
  background: #ede0c8;
  color: #776e65
}

.game-cell[value="8"]::after {
  color: #f9f6f2;
  background: #f2b179;
}

.game-cell[value="16"]::after {
  color: #f9f6f2;
  background: #f59563;
}

.game-cell[value="32"]::after {
  color: #f9f6f2;
  background: #f67c5f;
}

.game-cell[value="64"]::after {
  color: #f9f6f2;
  background: #f65e3b;
}

.game-cell[value="128"]::after {
  color: #f9f6f2;
  background: #edcf72;
}

.game-cell[value="256"]::after {
  color: #f9f6f2;
  background: #edcc61;
}

.game-cell[value="512"]::after {
  color: #f9f6f2;
  background: #edc850;
}

.game-cell[value="1024"]::after {
  color: #f9f6f2;
  background: #edc53f;
}

.game-cell[value="2048"]::after {
  color: #f9f6f2;
  background: #edc22e;
}

.game-cell:not(.new).odd {
  animation: merge .2s .1s;
}
.game-cell:not(.new).even {
  animation: merge2 .2s .1s;
}

@keyframes show {
  0% {
    transform: scale(0)
  }
  100% {
    transform: scale(1)
  }
}

@keyframes merge {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes merge2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}